## Import Libraries

In [58]:
!pip install bs4
!pip install html5lib
!pip install lxml

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import lxml


# download url data from internet
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
data_Toronto = BeautifulSoup(source, 'html.parser')

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.1)

## Create Dataframe

In [59]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)
content = data_Toronto.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

## Preparation

In [71]:
# clean up Not assigned
toronto['Postalcode'] = toronto['Postalcode'].str.strip("\n")
toronto['Borough'] = toronto['Borough'].str.strip("\n")
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

In [73]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
dff = grp.apply(neighborhood_list).reset_index(name='Neighborhood')
dff.rename(columns={'Postalcode':'Postal Code'}, inplace=True)
dff.head(54)

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge"
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West"
9,M1N,Scarborough,"Birch Cliff, Cliffside West"
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town..."
11,M1R,Scarborough,"Wexford, Maryvale"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan"
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo..."
15,M1W,Scarborough,"Steeles West, L'Amoreaux West"
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview, Henry Farm, Oriole"
19,M2K,North York,Bayview Village
20,M2L,North York,"York Mills, Silver Hills"
21,M2M,North York,"Willowdale, Newtonbrook"
22,M2N,North York,"Willowdale, Willowdale East"
23,M2P,North York,York Mills West
24,M2R,North York,"Willowdale, Willowdale West"
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills
27,M3C,North York,Don Mills
28,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North"
29,M3J,North York,"Northwood Park, York University"
30,M3K,North York,Downsview
31,M3L,North York,Downsview
32,M3M,North York,Downsview
33,M3N,North York,Downsview
34,M4A,North York,Victoria Village
35,M4B,East York,"Parkview Hill, Woodbine Gardens"
36,M4C,East York,Woodbine Heights
37,M4E,East Toronto,The Beaches
38,M4G,East York,Leaside
39,M4H,East York,Thorncliffe Park
40,M4J,East York,"East Toronto, Broadview North (Old East York)"
41,M4K,East Toronto,"The Danforth West, Riverdale"
42,M4L,East Toronto,"India Bazaar, The Beaches West"
43,M4M,East Toronto,Studio District
44,M4N,Central Toronto,Lawrence Park
45,M4P,Central Toronto,Davisville North
46,M4R,Central Toronto,"North Toronto West, Lawrence Park"
47,M4S,Central Toronto,Davisville
48,M4T,Central Toronto,"Moore Park, Summerhill East"
49,M4V,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest..."
50,M4W,Downtown Toronto,Rosedale
51,M4X,Downtown Toronto,"St. James Town, Cabbagetown"
52,M4Y,Downtown Toronto,Church and Wellesley
53,M5A,Downtown Toronto,"Regent Park, Harbourfront"

## The example of the instuctions can be found on row 53 showing the code worked as expected :)

In [64]:
dff.shape

(103, 3)



From this point on, the geospatial data is being loaded in order to prepare for the second part of the assignment. The dataframe is then exported onto a csv file and it's ready to be used on Part 2 of this Assignment. So the bulletpoints of Step 3 are already satisfied by this point.
------------------------------------------------------------

## Coordinates per Postal Code

In [45]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'

!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476


## Merge Tables

In [74]:
df = pd.merge(geocsv_data, dff, on='Postal Code')
df.head()

,Postal Code,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae

In [68]:
df = df[['Postal Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [56]:
df.to_csv('Toronto.2_Task_df.csv',index=False)

In [55]:
df.shape

(103, 5)